body {
  font-family: "Lato", sans-serif;
  background-color: #f3f3f3;
  background: url(https://static8.depositphotos.com/1457895/952/v/950/depositphotos_9529877-stock-illustration-books-background.jpg);
}


.active {
  background: #365599;
  color: #fff;
  border-radius: 5px;
}


/* Home page */

.showcase{
  height: 100vh;
  color: #333;
  opacity: 0.9;
}

.home-jumbotron{
  padding: 2rem 10rem;
}

.showcase .showcase-content{
  display: flex;
  flex-direction: column;
  text-align: center;
  height:100%;
  padding: 0rem 2rem;
  align-items: center;
  justify-content: center;
  
}

.lead{
  color: #333;
}

.l-heading{
  color: #333;
}




.home-container img {
  height: 240px;
  width: 240px;
  border-radius: 50%;
}



.category{
  display: inline-block;
  color: #fff;
  font-size: 0.55rem;
  text-transform: uppercase;
  padding:0.4rem 0.6rem;
  border-radius: 15px;
  background:#f99500;
  margin-bottom: 0.5rem;
}


/* Navbar */
.nav-link {
  font-size: 18px;
}

.social i {
  color: #333;
}

/* Article cards */

.article {
  margin: 20px 200px;
  text-align: center;
}

.card-text {
  text-align: left;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.card {
  border-radius: 5px;
}

.post-title{
  text-decoration: none;
  color: #649f22;
}

/* Post detail page */


.img-post{
  display: block;
  max-width: 1000px;
  max-height: 1536px;
  margin:auto;
}

/* About page */

.aside {
  margin-top: 1rem;
  margin-right: 6rem;
  justify-content: center;
}

.aside .card-body {
  background-color: #365599;
  color: #fff;
}

/* Login Page */

.form-container {
  background: #fff;
  opacity: 0.8;
  border-radius: 10px;
  margin-top: 2.7rem;
  margin-bottom: 2.7rem;
  font-size: 1.1rem;
  max-width: 600px;
}

.form-container img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}


.btn-login {
  width: 20%;
  margin-top: -4rem;
}

.rem {
  margin-bottom: 3rem;
}

.register {
  font-size: 0.9rem;
  text-align: center;
}
/* Footer  */

#main-footer {
  background: #22649F;
  color: #fff;
  padding-top: 1rem;
}

#main-footer img {
  width: 150px;
  margin-bottom: 10px;
}

#main-footer a {
  color: #fff;
}

#main-footer .footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
}

#main-footer .footer-container > *:last-child {
  background: #22649F;
  opacity: 0.55;
  grid-column: 1 / span 3;
  padding: 0.5rem;
  text-align: center;
  font-size: 0.75rem;
  border-radius: 0.2rem;
}

#main-footer .footer-container input[type="email"] {
  width: 90%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

#main-footer .footer-container input[type="submit"] {
  width: 90%;
}


.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}


/* Books page */


.card {
  background: #FBEEC1;
  border: 1px solid #3C3C3C;
  color: rgba(250, 250, 250, 0.8);
  margin-bottom: 2rem;
  color:#333;
}
