{% extends "posts/base.html" %}
{% load static%}
{% block content %}
{% for book in books %}

<div class="container mx-auto mt-4">
  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
  <img src="https://static.dw.com/image/17582678_303.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{book.name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">by {{book.author}}</h6>
    <p class="card-text"><div class="category">{{book.subject}}</div></p>
    <div class="text-center">       
    <a href="#" class="btn mr-2 btn-primary"> Download</a>
  </div>

  </div>
  </div>
  
    </div> 
  </div>
</div>

{% endfor %}
<div class="text-center">
  {% if is_paginated %}
    {% if page_obj.has_previous %}
      <!-- <a class="btn btn-outline-info mb-4" href="?page=1">First</a> -->
      <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
        <a class="btn btn-info mb-4" href="?page={{ num }}">{{num}}</a>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'  %}
      <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{num}}</a>
      {% endif %}
    {% endfor %}
  
    {% if page_obj.has_next %}
    <a class="btn btn-outline-info mb-4" href="?page={{page_obj.next_page_number}}">Next</a>
    <!-- <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a> -->
  {% endif %}
  {% endif %}
</div>
{% endblock content %}