{% extends "posts/base.html" %}
{% load static %}
{% block content %}

<section>
  <div class="card card-1 text-center">
    <div class="card-header">
      Section Template
    </div>
    <div class="card-body">
      <h5 class="card-title">Space for Lectures Section</h5>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta quam aut laborum aliquid hic quidem beatae labore aliquam aperiam odio.</p>
      <a href="{% url 'lectures' %}" class="btn btn-primary">Watch Lectures</a>
    </div>
  </div>
</section>
<section>
  <div class="card card-1 text-center">
    <div class="card-header">
      Section Template
    </div>
    <div class="card-body">
      <h5 class="card-title">Space for Doubts Section</h5>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta quam aut laborum aliquid hic quidem beatae labore aliquam aperiam odio.</p>
      <a href="{% url 'doubts' %}" class="btn btn-primary">Ask Doubts</a>
    </div>
  </div>
</section>
<section>
  <div class="card card-1 text-center">
    <div class="card-header">
      Section Template
    </div>
    <div class="card-body">
      <h5 class="card-title">Space for Books Section</h5>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta quam aut laborum aliquid hic quidem beatae labore aliquam aperiam odio.</p>
      <a href="{% url 'lectures' %}" class="btn btn-primary">Download Books</a>
    </div>
  </div>
</section>
<section>
  <div class="card card-1 text-center">
    <div class="card-header">
      Section Template
    </div>
    <div class="card-body">
      <h5 class="card-title">Space for Courses Section</h5>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta quam aut laborum aliquid hic quidem beatae labore aliquam aperiam odio.</p>
      <a href="{% url 'lectures' %}" class="btn btn-primary">Explore Courses</a>
    </div>
  </div>
</section>

{% endblock content %}